<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.whatrubbish">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <!--外部存储的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--外部存储的读权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!--    android:theme="@style/Theme.WhatRubbish"-->
    <!--    android:theme="@style/QMUI.Compat"-->

    <!--添加该权限，webview可以访问网页-->
    <!--    <uses-permission android:name="android.permission.INTERNET"></uses-permission>-->

    之前okhttps 配置了 一下 android:networkSecurityConfig= 所以下面再 android:usesCleartextTraffic="true" 也没用
    <!--    需要在  android:networkSecurityConfig 里面配置   <base-config cleartextTrafficPermitted="true" />-->
    tools:replace="android:icon"
    tools:replace="android:theme"
    tools:replace="android:theme|android:icon"
    tools:replace="android:theme"

    tools:replace="android:icon,android:theme,android:roundIcon"
    tools:replace="android:icon,android:theme,android:roundIcon"
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatRubbish"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme"
        tools:targetApi="m">


<!--        <receiver android:name="a.com.example.faservice.BootBroadcastReceiver">-->
<!--                       -->
<!--            <intent-filter>-->
<!--                               -->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED">-->
<!--                                    </action>-->
<!--                               -->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--                           -->
<!--            </intent-filter>-->
<!--                   -->
<!--        </receiver>-->
<!--               -->
<!--        <service android:name="a.com.example.faservice.FDService"> </service>-->
        <meta-data android:value="androidym.com.mww" android:name="FD_CHANNEL" />


<!--        <service android:name="com.bn.tl.anzhi.GameMonitor"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MonitorService" />-->
<!--            </intent-filter>-->
<!--        </service>-->
<!--        <receiver android:name="com.bn.tl.anzhi.GameRecever"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.USER_PRESENT" />-->
<!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        -->

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <!--        <activity-->

        <!--            android:name=".MainActivity"-->
        <!--            android:exported="true"-->
        <!--            android:label="@string/app_name"-->
        <!--          >-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->



        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.smlj.logo"/>
        <activity android:name=".activity.NoBottomNavActivity"/>
        <activity android:name="com.richard.hitball.MainActivity"/>
        <activity android:name=".activity.RecMsgActivity"/>
        <activity android:name=".activity.GameStageActivity"/>
        <activity android:name=".activity.AbsActivity"
            android:screenOrientation="landscape"
          />
        android:screenOrientation="portrait"
<!--        landscape-->
        <activity android:name="com.example.androidteris.MainActivity"/>
        <activity android:name=".activity.CardActivity"/>
        <activity android:name="com.bn.tl.anzhi.BasketBall_Shot_Activity"/>
        <activity android:name=".activity.CardListActivity"/>
        <activity android:name=".activity.CardComposeActivity"/>
        <activity android:name="com.arjinmc.viewpagerupdatedemo.PageUpdateMainActivity"/>
        <activity android:name=".activity.VideoActivity"/>
<!--        <activity android:name=".logInfo.LogInfoActivity"/>-->
        <activity android:name="com.quchen.flappycow.MainActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!-- For Google Play Services -->
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-5615758120938208~8730683579"/>

<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:label="@string/app_name"-->
<!--            android:screenOrientation="portrait" >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <activity
            android:name="com.quchen.flappycow.Game"
            android:label="@string/app_name"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="com.quchen.flappycow.Game" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.quchen.flappycow.About"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="com.quchen.flappycow.About" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Remove the lines below, if you don't want ads -->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

<!--        <activity android:name="com.sec.android.ad.AdActivity"-->
<!--        <activity android:name="com.sec."-->
<!--            android:configChanges="keyboardHidden|orientation|screenSize"/>-->
        <!-- Remove the lines above, if you don't want ads -->



        <!--        <activity android:name=".MainActivity" />-->
<!--        <activity-->
<!--            android:name="com.example.smlj.logo"-->
<!--            android:exported="true"-->
<!--            android:icon="@mipmap/ic_launcher"-->
<!--            android:label="@string/app_name">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <activity android:name="com.example.compose.ComposeActivity" />
        <activity android:name="com.example.trash_detective.Activity.MainActivity" />
        <activity android:name="com.example.trash_detective.Activity.CameraActivity" />
        <activity android:name=".wanandroid.WanandroidActivity" />
        <activity android:name=".activity.SearchFriendActivity" />
<!--        <activity android:name="com.android.soundrecorder.SoundRecorder" />-->
        <activity android:name="com.suramire.androidgame25.MainActivity"
            android:screenOrientation="landscape" />




        <!--        <activity-->
        <!--            android:name=".achievement.AchievementActivity"-->
        <!--          >-->
        <!--        </activity>-->

        android:exported="false"
        android:label="@string/app_name"
        <activity android:name="com.hurteng.stormplane.start.StartActivity"

            >
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                这句没有的话 就没有图标了-->
            <!--                &lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
            <!--            </intent-filter>-->
        </activity>

        android:theme="@style/AppThemeQmui"
        <activity
            android:name="com.hurteng.stormplane.modify.ModifyActivity"
          />
        <activity android:name="com.hurteng.stormplane.MainActivity" />
        <activity android:name=".activity.ProblemActivity" />
        <activity android:name=".activity.WsTestActivity" />

        <activity android:name=".achievement.AchievementActivitySelf"></activity>
<!--        <activity android:name="com.example.compose.ComposeActivity"></activity>-->

        <activity android:name=".RegisterActivity" />
        <activity android:name=".RegionSettingActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".achievement.AchievementActivity" />
        <activity android:name=".activity.PersonalSettingActivity" />
        <activity android:name=".activity.PersonSettingActivity" />
        <activity
            android:name="com.example.compx202_finalproject.MainActivity"
            android:theme="@style/Theme.COMPX202FinalProject" />

        <activity
            android:name="com.example.compx202_finalproject.GameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.COMPX202FinalProject" />
        <activity
            android:name="com.example.compx202_finalproject.HighScoreActivity"
            android:theme="@style/Theme.COMPX202FinalProject" />


        <activity
            android:name="com.example.smlj.login"
            android:windowSoftInputMode="adjustPan" />


        <activity android:name="com.example.smlj.yingdao" />
        <activity android:name="com.hrl.chaui.activity.SplashActivity" />
        <activity android:name="com.hrl.chaui.activity.ChatActivity" />
        <activity android:name=".activity.TestActivity" />
<!--        记忆游戏-->
        <activity android:name="com.snatik.matches.MainActivity"
            android:screenOrientation="landscape"/>
        <!--        <activity android:name="com.example.smlj.achievementActivity"/>-->
        <!--        <activity-->
        <!--            android:name=".tabLayout.TabLayoutActivity"-->
        <!--            >-->
        <!--        </activity>-->
        android:exported="false"

        <!--        <activity-->
        <!--            android:exported="false"-->
        <!--            android:name=".activity.MyAppActivity"-->
        <!--            android:launchMode="singleInstance"-->
        <!--            android:taskAffinity=":MyAppActivity"-->
        <!--            android:process=":MyAppActivity"-->
        <!--            android:screenOrientation="sensorLandscape"-->
        <!--            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"-->
        <!--            android:label="@string/app_name"-->
        <!--            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"-->
        <!--            tools:ignore="Instantiatable">-->

        <!--            &lt;!&ndash;<intent-filter android:order="1">-->
        <!--                <action android:name="android.intent.action.VIEW" />-->

        <!--                <category android:name="android.intent.category.BROWSABLE" />-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--            </intent-filter>-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>&ndash;&gt;-->
        <!--        </activity>-->
        android:taskAffinity=":MyAppActivity"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        tools:ignore="Instantiatable"

        <!--        <activity-->
        <!--            android:exported="false"-->
        <!--            android:name=".activity.MyAppActivity"-->


        <!--            android:screenOrientation="sensorLandscape"-->
        <!--            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"-->

        <!--            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"-->
        <!--           >-->

        <!--            &lt;!&ndash;<intent-filter android:order="1">-->
        <!--                <action android:name="android.intent.action.VIEW" />-->

        <!--                <category android:name="android.intent.category.BROWSABLE" />-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--            </intent-filter>-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>&ndash;&gt;-->
        <!--        </activity>-->


        <!--        <activity-->
        <!--            android:exported="false"-->
        <!--            android:name="com.example.smlj.logo"-->
        <!--            android:launchMode="singleInstance"-->
        <!--            android:taskAffinity=":MyAppActivity"-->
        <!--            android:process=":MyAppActivity"-->
        <!--            android:screenOrientation="sensorLandscape"-->
        <!--            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"-->
        <!--            android:label="@string/app_name"-->
        <!--            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"-->
        <!--            tools:ignore="Instantiatable">-->

        <!--            &lt;!&ndash;<intent-filter android:order="1">-->
        <!--                <action android:name="android.intent.action.VIEW" />-->

        <!--                <category android:name="android.intent.category.BROWSABLE" />-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--            </intent-filter>-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>&ndash;&gt;-->
        <!--        </activity>-->


        <activity
            android:name="com.sdust.im.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name="com.sdust.im.activity.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.sdust.im.activity.SearchFriendActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.sdust.im.activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.sdust.im.activity.FriendSearchResultActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.sdust.im.activity.ChatActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.sdust.im.activity.imagefactory.ImageFactoryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.sdust.im.activity.MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

    </application>

</manifest>